@model IEnumerable<VideoViewModel>

@{
    ViewBag.Title = "Home";
}

@foreach (var video in Model)
{
    @await Html.PartialAsync("_Video", video);
}

<div>
    <a asp-action="Create">Create</a>
</div>
